{% extends "base.html" %} {% block content %} 

{% load static %} {% load humanize%}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'portfolio/style.css' %}"
/>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Purchase Date</th>
      <th>Units</th>
      <th>Purchase Price</th>
      <th>Investment</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr>
      <td>{{ stock.code }}</td>
      <td>{{ stock.name }}</td>
      <td>{{ stock.purchase_date }}</td>
      <td>{{ stock.units }}</td>
      <td>{{ stock.purchase_price | floatformat:"2" }}</td>
      <td>{{ stock.investment | floatformat:"2" | intcomma }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div>
  <a href="/export">Export to CSV</a>
</div>

{% endblock %}
